body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(88, 88, 88);
}
.scroll-section {
  scroll-margin-top: 130px;
}
main{
    background-color: rgb(248, 248, 248);
    margin-top: 100px;
    padding-bottom: 25px;
    padding-top: 10px;
}
.container, .col, .row,  .container{
    background-color: rgb(248, 248, 248);

}
.nav-item{
    padding-right: 55px;
    padding-left: 35px;
}
#content{
    margin-left: 20px ;
    margin-right: 20px;
}

.navbar{
    background-color: #1a1a1a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #333;
    padding: 1rem;
    text-align: center;
    z-index: 1000;
}
.nav-toggler{
    background-color: white;

}
#navlogo{
    width: 50px;
    height: 50px;
}

.navbar a:hover {
    transform: scale(1.05);
    border-radius: 15%;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.492);
    z-index: 10;
    color: white;
      
}
.navbar a,
.navbar a:visited {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    color: white;
    border-radius: 15%;
}
.navbar a:active{
    background-color: white;
    color: black;
}
.nav-item a{
    font-size: 30px;
}







.contenedor-animacion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

@keyframes pulso {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); 
  }
  100% {
    transform: scale(1);
  }
}
#logo {

  animation: pulso 2s ease-in-out infinite;
}
#presentacion{
    margin-top: 10px;
}
h1 {
    font-size: 40px;
}
.contenedor-imagen {
  text-align: center;
}
#logo{
    width: 200px;
    height: 200px;
}
.intro{
    font-size: 20px;
    text-align: justify;
}
#proyecto{
    margin-top: 30px;
    padding: 10px;
}




h3{
    font-size: 50px;
    padding: 10px;
}

.animada {
    width: 100%;
    height: 100%;
    background-color: #d7d7d7; 
    transform: scale(1);
    box-shadow: 0 4px 10px rgba(0,0,0,0.05); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    font-weight: bold;
}


.animada:hover .animada,
.animada.es-visible {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.37);
    z-index: 10;
    position: relative; 
    background: linear-gradient(180deg, rgba(148, 148, 148, 0.35) 0%, rgba(192, 192, 192, 0.322) 50%, rgba(237, 248, 255, 0.271) 99%);
}


@media (max-width: 767.98px) {
 .carousel{
    margin-top: 30px;
 }
}
h2{
    font-size: 50px;
}

    
.Visitar{
    
    border: solid rgb(14, 101, 193) 1px;
    font-weight: bolder;
    width: fit-content;
}

.Visitar:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    filter: brightness(70%);
    
}
#navbtn{
    background-color: rgb(14, 101, 193);
}
.row{
    margin-top: 15px;
}



