/*  ! NAVBAR */
  /* Fondo de la navbar */
.navbar {
  background-color: #1A1A1D;
}

/* 1) Buscador escritorio */
.barraBusqueda {
  max-width: 220px;
  width: 100%;
  font-family: 'Lato', sans-serif;
}
.barraBusqueda .form-control {
  border: 1px solid #D28E5F;
  background-color: transparent;
  color: white;
}
.barraBusqueda .form-control::placeholder {
  color: #ccc;
}
.barraBusqueda .btn {
  background-color: transparent;
  border: 1px solid #D28E5F;
  color: #D28E5F;
  padding: 0 10px;
}

/* 1.1) Buscador móvil */
.barraBusquedaMobile {
  max-width: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
}
.barraBusquedaMobile .form-control {
  border: 1px solid #D28E5F;
  background-color: transparent;
  color: white;
}
.barraBusquedaMobile .form-control::placeholder {
  color: #ccc;
}
.barraBusquedaMobile .btn {
  background-color: transparent;
  border: 1px solid #D28E5F;
  color: #D28E5F;
  padding: 0 10px;
}

/* 2) Botón Login */
.botonLogin {
  background-color: #D28E5F;
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
}

/* 3) Carrito */
.botonCarrito {
  border: 1px solid white;
  color: white;
}
.botonCarrito i {
  font-size: 20px;
}

/* 4) Link activo */
.nav-link.active {
  font-weight: 500;
}

/* 5) Forzar collapse oculto en desktop */
@media (min-width: 992px) {
  #contenidoNavbar {
    display: none !important;
  }
}

/* ! OVERALL*/
body {
  background-color: #F8F8F8;
}


/* !  SHOPPING CART */

@media (max-width: 576px) {
  .cart-product-image {
    width: 50px;
    height: auto;
  }
}

/* ! FOOTER */