/* ! FUENTE GLOBAL */
* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #F8F8F8;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}


/* ! SECCIÓN: SHOPPING CART */

/* Imagen del producto */
.cart-product-image {
  width: 100px;
  height: auto;
}
@media (max-width: 576px) {
  .cart-product-image {
    width: 50px;
  }
}

/* Tarjeta del producto */
.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
}

/* Total y precios */
.total-price {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Botones de carrito */
.btn-discount,
.btn-confirmar {
  background-color: #EBA56A;
  color: white;
  border: none;
}

.btn-discount:hover,
.btn-confirmar:hover {
  background-color: #d4915d;
}


/* Alinear precio del producto */
.alinear-precio {
  display: flex;
  align-items: center;
  height: 100%;
}


.precio-producto {
  font-size: 1.2rem; 
}