* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* hide number input arrows/spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* hide number input arrows/spinners */
/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

body {
	background-color: #f8f8f8;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

main {
	margin: 0 auto;
	padding: 2rem;
	max-width: 1200px;
}

#form-container {
	display: flex;
	flex-flow: column nowrap;
}

#description-input {
	height: 20rem;
	text-align: start;
}

label {
	font-size: 1.25rem;
	font-weight: 550;
}

.swiper {
	width: 100%;

	height: 30rem;
	margin: 1rem 0 1rem 0;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.swiper-wrapper {
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	/* background: #444; */
	height: 100%;
	width: 100%;
}

.swiper-slide .card {
	border-radius: 0;
	height: 100%;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.swiper-slide img {
	border-radius: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-footer {
	display: flex;
	column-gap: 1rem;
}

input[type='file'] {
	display: none;
}

.custom-upload {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='black' stroke-width='5' stroke-dasharray='20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	background-color: rgba(225, 221, 221, 0.6);
	border-radius: 10px;
	padding: 3rem 0;
	width: 100%;
	height: 100%;
	margin-top: 1rem;
}

.custom-upload img {
	width: 10rem;
	height: 10rem;
}

.custom-upload:hover {
	cursor: pointer;
}

.alert {
	text-align: center;
	margin-top: 2rem;
}

.submit-btn {
	margin: 1rem auto;
	width: 15rem;
	height: 3rem;
}

.hidden {
	display: none;
}

.container {
	margin: 0;
	padding: 0;
	max-width: 100%;
}

.submit-btn,
.card-btn {
	background-color: #d28e5f;
	border-color: transparent;
	color: black;
}

.submit-btn {
	font-size: 1.25rem;
	font-weight: 500;
}

.submit-btn:hover,
.card-btn:hover {
	background-color: #ff8c3bd7; /* un tono más oscuro o simbólico */
	border-color: transparent;
	color: black;
}
