
body { /**Para toda la pagina*/
  font-family: 'Lato', sans-serif;
  background-color: #F8F8F8; 
}

section {
  padding: 2rem 0;
}

/* *Ajustes para pantallas pequeñas */
/*Muy importante para responsive*/
@media (max-width: 768px) {
  .hero-img {
    height: 60vh !important;
   max-height: none !important; /* Ajuste de hero en pantallas pequeñas*/
  
}
  .mision-block {
    padding: 1rem 1rem; /* Reduce el espacio interno */
    margin-bottom: 0rem; /* Opcional: reduce espacio inferior */
  }
    .mision-block h2 {
    font-size: 1.3rem; /* Ajusta el título */
    margin-bottom: 0.5rem;
  }

  .mision-block p {
    font-size: 0.95rem; /* Reduce el tamaño del párrafo */
    line-height: 1.4;   /* Ajusta el espaciado entre líneas */
  }
    .hero-texto-derecha {
    right: 2%;
    max-width: 90%;
    text-align: center;
  }
}

.marquee {
  animation: scroll-left 20s linear infinite;
  width: max-content;
  white-space: nowrap;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.hero-texto-derecha {
  max-width: 400px;
  text-align: right;
  background-color: #1a1a1d5d;
}
.hero-img { /**esta clase sirve para mantener el tamaño de las imagenes y que el carrusel no salte por los tamaños diferentes*/
  width: 100%;
  max-height: 70vh;/* altura del viewport */
  object-fit: cover; /* para que la imagen llene sin distorsionarse */
  object-position: center;
}

.carousel-item {
  position: relative;
}
.btn-tienda {
  background-color: #d28f5f;
  color: rgb(7, 7, 7);
  border: 1px;
  font-weight: bold;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  font-family: 'Lato', sans-serif;
  transition: background-color 0.3s ease;
}

.btn-tienda:hover {
  background-color:#5e534e;
}


.mision-block{ /**para agregar estilo a la seccion de la mision, fondo con transparencia para destacar pero que no desentone entre las demas secciones*/
  background-color: #614b3e3b;
  padding: 1.5rem 1rem;

}

.mision-block p {
  max-width: 800px;
  margin: 0 auto;
}

.texto-justificado {
  text-align: justify;
  font-weight: 350;
  font-family: 'lato', serif;
}

.text-hover {
  transition: 0.3s ease;
}

.text-hover:hover {
  opacity: 0.6;
  transform: scale(1.02);
}
.galeria-imagen {
  position: relative;
}

.tarjeta-inspiracion {
  background-color: #f8f8f8; 
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.img-inspiracion {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 0;
}

.tarjeta-der {
  background-color: #614b3e50;
}
.img-card h4 {
  color: #1a1a1a; /* Más oscuro que el gris predeterminado */
  font-weight: 500;
  font-family: 'lato', serif;
}

.img-card p {
  color: #333333; /* Gris oscuro pero más suave que el h4 */
  font-weight: 350;
  font-family: 'Lato', sans-serif;
  text-align: justify;
}
.img-card-2 h4 {
  color: #1a1a1a; /* Más oscuro que el gris predeterminado */
  font-weight: 500;
  font-family: 'lato', serif;
}

.img-card-2 p {
  color: #333333; /* Gris oscuro pero más suave que el h4 */
  font-weight: 350;
  font-family: 'Lato', sans-serif;
  text-align: justify;
}

.instagram-media {
  border-radius: 12px !important;
}

.btn-conocela {
    width: fit-content; /* El ancho del botón se ajusta a su contenido */
    background-color: #D28E5F; /* Color de fondo personalizado */
}

.tarjeta-inspiracion,
.tarjeta-der,
.tarjeta-inspiracion img,
.img-card img {
  border-radius: 0 !important;
}