@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body {
  font-family: 'Lato', sans-serif;
  background-color: #f8f9fa; /* fondo claro para contraste */
  color: #333;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/**Parte correspondiente al Footer de Miguel*/
/* Fondo de la navbar */
.navbar {
  background-color: #1A1A1D;
}

/* 1) Buscador escritorio */
.barraBusqueda {
  max-width: 220px;
  width: 100%;
  font-family: "Lato", sans-serif;
}
.barraBusqueda .form-control {
  border: 1px solid #D28E5F;
  background-color: transparent;
  color: white;
}
.barraBusqueda .form-control::placeholder {
  color: #ccc;
}
.barraBusqueda .btn {
  background-color: transparent;
  border: 1px solid #D28E5F;
  color: #D28E5F;
  padding: 0 10px;
}

/* 1.1) Buscador móvil */
.barraBusquedaMobile {
  max-width: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
}
.barraBusquedaMobile .form-control {
  border: 1px solid #D28E5F;
  background-color: transparent;
  color: white;
}
.barraBusquedaMobile .form-control::placeholder {
  color: #ccc;
}
.barraBusquedaMobile .btn {
  background-color: transparent;
  border: 1px solid #D28E5F;
  color: #D28E5F;
  padding: 0 10px;
}

/* 2) Botón Login */
.botonLogin {
  background-color: #D28E5F;
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
}

/* 3) Carrito */
.botonCarrito {
  border: 1px solid white;
  color: white;
}
.botonCarrito i {
  font-size: 20px;
}

/* 4) Link activo */
.nav-link.active {
  font-weight: 500;
}
/* 5) Le coloca la fuente Lato a los elementos del navbar*/
body,
.navbar,
.navbar .nav-link,
.navbar .navbar-brand,
.navbar .btn {
  font-family: "Lato", sans-serif !important;
}
/* 6) Se hereda la fuente Lato a todos los elementos*/
.navbar .navbar-brand,
.navbar .nav-link,
.navbar .btn {
  font-family: inherit;
}

/* 7) Forzar collapse oculto en desktop */
@media (min-width: 992px) {
  #contenidoNavbar {
    display: none !important;
  }
}